.wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.item-img {
    position: relative;
    top: 1em;
    margin-bottom: 5px;
    right: 3em;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
.item-img:hover {
    opacity: 0.5;
}

.element-child {
    height: 40px;
    position: relative;
    top: 0.2em;
    left: 0.4em;
    width: 65%;
    cursor: pointer;
}

/* .element-child-house {
    height: 40px;
    position: relative;
    top: 0.6em;
    left: .1em;
    width: 90%;
    cursor: pointer;
} */

.element-child-house-traditional{
    height: 40px;
    position: relative;
    top: 0.6em;
    left: .1em;
    width: 90%;
    cursor: pointer;
}