.selection-bars {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.display-bars {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}